/* style sheet for landing page */
body {
  background-color: #f0f0f0;
}

.landing {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 36px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}
