/* styles-contact.css */
body {
  background-color: #f6f6f6;
}

.contact {
  text-align: center;
  padding: 50px;
}

h2 {
  font-size: 32px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}

form {
  margin-top: 20px;
  text-align: left;
}

label {
  font-size: 18px;
  color: #333;
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
/* styles-contact.css */
body {
  background-color: #f6f6f6;
}

.contact {
  text-align: center;
  padding: 50px;
}

h2 {
  font-size: 32px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}

form {
  margin-top: 20px;
  text-align: left;
}

label {
  font-size: 18px;
  color: #333;
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 20%;
  padding: 10px;
  font-size: 6px;
  margin: 5px 0;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.contact-details {
  margin-top: 20px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.contact-details h3 {
  font-size: 15px;
  color: #333;
}

.contact-details p {
  font-size: 15px;
  color: #666;
}
